<div class="container mt-3">
  <div class="aromaNatura">
    <img src="./assets/about us.jpg" width="400" />
    <div class="text-about">
      <h1>Who am I...</h1>
      <p>
        I'm Martina and I welcome you to the magical plant world! My story has
        two beginnings: The first, in which as a child I fall in love with the
        world of forests and meadows, when I enter the magical world of
        medicinal plants with my grandmother and grandfather. That was my true
        happy place. The second, when in the vortex of the covid pandemic, in
        March 2020, I lose my job overnight. Then I decided to turn the loss of
        the ground under my feet into an opportunity for my new beginning. I am
        opening my small business for the production of essential oils and in my
        home business, with the support of my husband Marko, I am starting the
        production of the first drops and hydrolates as a by-product. Three
        years later, Aroma Natura becomes a real family brand, and one of the
        best in the region that produces organic essential oils of high quality.
      </p>
    </div>
  </div>
</div>
