<div class="navbar">
  <div class="logo">
    <a routerLink="" class="logo p-2">
      <img src="./assets/logo.jpg" alt="logo" width="50" />AromaNatura
    </a>
  </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    <img src="./assets/menu.png" alt="menu" height="30" />
  </div>

  <div class="navbar-links" [class.show]="isMenuOpen">
    <a
      class="nav-link nav-link-fade-up"
      routerLink="./aboutus"
      (click)="closeMenu()"
      >ABOUT US</a
    >
    <a
      class="nav-link nav-link-fade-up"
      routerLink="./products"
      (click)="closeMenu()"
      >PRODUCTS</a
    >
    <a
      class="nav-link nav-link-fade-up"
      routerLink="./contact"
      (click)="closeMenu()"
      >CONTACT US</a
    >
  </div>
  <div class="nav_icons" *ngIf="!isMenuOpen">
    <a routerLink=""
      ><img src="./assets/home.png" alt="home icon" height="30"
    /></a>
    <a routerLink="./cart"
      ><img src="./assets/cart.png" alt="shopping cart" height="30"
    /></a>
  </div>
</div>
