<div class="navbar justify-content-between bg-warning sticky-top">
  <a routerLink="" class="logo"
    ><img src="./assets/logo.jpg" alt="logo" width="30" />AromaNatura</a
  >
  <div class="navLinks">
    <a routerLink="./aboutus">ABOUT US</a>
    <a routerLink="./products">PRODUCTS</a>
  </div>
  <div class="icons">
    <a routerLink=""
      ><img src="./assets/home.png" alt="home icon" height="30"
    /></a>
    <a routerLink="./cart"
      ><img src="./assets/cart.png" alt="shopping cart" height="30"
    /></a>
  </div>
</div>
