<div class="row g-0 mt-2 container">
  <div class="col-md-4" *ngIf="product">
    <img
      src="./assets/{{ product.img }}"
      class="img-fluid rounded-start"
      alt="{{ product.name }}"
    />
  </div>
  <div class="col-md-8">
    <h3 class="card-title">{{ product.name }}</h3>
    <hr />
    <h5>Size:</h5>
    <p class="card-text">
      {{ product.size }}
    </p>
    <h5>Description:</h5>
    <p class="card-text">
      {{ product.description }}
    </p>
    <h5>Price:</h5>
    <p class="card-text">{{ product.price }} €</p>
    <!-- <p class="card-text">{{ product.qtty }} </p> -->
    <div class="d-flex justify-content-start">
      <a routerLink="#" class="btn btn-dark" (click)="addToCart()"
        >Add to cart</a
      >
    </div>
  </div>
</div>
