<div class="container">
  <h1 class="text-center p-2 mt-2">Products</h1>
  <div
    class="row row-cols-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1"
  >
    <div *ngFor="let val of products; index as productID">
      <div class="card my-2 shadow" style="width: 16rem">
        <img
          src="./assets/{{ val.img }}"
          class="card-img-top p-2"
          alt="{{ val.name }}"
          width="200"
          height="200"
        />

        <div class="card-body">
          <h5 class="card-title">{{ val.name }}</h5>
          <p class="card-text">Price: {{ val.price }} €</p>

          <p *ngIf="val.availability; else notAvailable">Available</p>
          <ng-template #notAvailable>
            <span class="btnp">Not available</span>
          </ng-template>
          <div class="d-flex justify-content-between">
            <a
              routerLink="/details/{{ productID }}"
              *ngIf="val.availability"
              class="btn btn-dark"
              >Details</a
            >
            <a
              (click)="addToCart(val)"
              *ngIf="val.availability"
              class="btn btn-dark"
              >Add to Cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
