<div class="hero-container">
  <img src="./assets/cover-2.jpg" alt="" class="hero-image" />
  <div class="hero-text">
    <h1>Welcome to Aroma Natura</h1>
    <p>
      We delivered to your doors the best organic oils from die heart of nature!
    </p>
    <a routerLink="products" class="btn btn-outline-light">Go to shop</a>
  </div>
</div>

<div class="mt-5 container">
  <h2>What you got with us?</h2>
  <div class="services">
    <div class="card">
      <img src="./assets/007-chemistry.png" alt="" />
      <p class="card-text">Hight quality</p>
    </div>
    <div class="card">
      <img src="./assets/008-bio-energy-symbol.png" alt="" />
      <p class="card-text">BIO Certificat</p>
    </div>
    <div class="card">
      <img src="./assets/009-free-delivery.png" alt="" />
      <p class="card-text">Free Delivery</p>
    </div>
  </div>
  <div class="container mt-5">
    <h2>Why Aroma Natura?</h2>
    <div class="aromaNatura mt-4">
      <img src="./assets/logo.jpg" height="200" />
      <p>
        AromaNatura is a line of organic products intended for skin care at all
        ages. It is about 100% natural, handmade cosmetics based on the highest
        quality essential oils, which penetrate deep into the skin, stimulating
        its self-renewing function.
      </p>

      <p>
        In making our products, we listen exclusively to nature, which provides
        us with the finest herbal ingredients whose medicinal properties we do
        not change during the processing and production of cosmetics. On the
        contrary, we adapt them to your needs and practical use, while retaining
        those key values that make natural formulas so valued in the world of
        beauty and care.
      </p>
    </div>
  </div>

  <div class="container mt-5">
    <h2>What are essentinal oils?</h2>
    <div class="aromaNatura mt-3 my-4">
      <img src="./assets/oils.jpg" width="350" />
      <p>
        Essential oils are compounds extracted from plants. The oils capture the
        plant's scent and flavor, or “essence.” Unique aromatic compounds give
        each essential oil its characteristic essence. Essential oils are
        obtained through distillation (via steam and/or water) or mechanical
        methods, such as cold pressing. Once the aromatic chemicals have been
        extracted, they are combined with a carrier oil to create a product
        that's ready for use. The way the oils are made is important, as
        essential oils obtained through chemical processes are not considered
        true essential oils.Essential oils are most commonly used in the
        practice of aromatherapy, in which they are inhaled through various
        methods.
      </p>
    </div>
  </div>
</div>
